.modal {
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    display:flex;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: black; /* Fallback color */
    background: rgba(0,0,0,0.9); /* Black w/ opacity */
    box-shadow: 0 1px 6px fade(black, 70%);
}

.modal-video {
    margin: 0 auto;
    padding: 0px;
    width: 70%;
    height: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
